.login-page {
    width: 100%;
    font-weight: bold;
}


.login-content-col {
    width: 100%;
    padding: 7.65em;
}

.flex-checkbox {
    width: 70%;
    font-size: .8rem;
    margin-bottom: 1em;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.remember-check {
    display: flex;
    align-content: center;
}

.checkbox {
    align-self: center;
    margin-right: 1em;
}

.reset-link {
    text-decoration: none;
}