.blog-details h2 {
    font-size: 20px;
    color: #4c1d95;
    margin-bottom: 10px;
  }
  .blog-details div {
    margin: 20px 0;
  }
  .blog-details button {
    background: #4c1d95;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
  }