header {
    padding: 2em 0;
    background-color: #fff;
    font-size: 1rem;
}

@media screen and (max-width: 976px) {
    header {
        font-size: .85rem;
        padding: 1.5em 0;
    }
  }

.logo {
    margin-right: 2em;
    align-self: center;
    margin-top: .3em;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    align-items: center;
}

.nav__item {
    margin-right: 2em;
}

.nav__link {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.nav__link:hover {
    opacity: 0.8;
}

a.active {
    color: #7c3aed;
}

/* span.caret-icon {
    margin-top: .3em;
} */