.reset-page {
    width: 100%;
    font-weight: bold;
}

.reset-image-col {
    background: url("../../resources//images/Login Image.png");
    width: 100%;
}

.reset-content-col {
    width: 100%;
    padding: 10.7em;
}