*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.container--primary {
  width: 80%;
  max-width: 1400px;
  margin: 0 auto;
}

.container--secondary {
  width: 70%;
  max-width: 1100px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  width: 100%;
}

img {
  max-width: 100%;
}

.btn {
  padding: .5em 1.5em;
  font-size: 1rem;
  border-radius: 9px;
  cursor: pointer;
  outline: none;
  border: none;
}

@media screen and (max-width: 769px) {
  .btn {
    padding: .25rem .7rem;
    font-size: .6rem;
  }
}

.btn:hover {
  opacity: 0.8rem;
}

.btn--primary {
  background: #4c1d95;
  color: #fff;
}

.body-text {
  font-size: 1.2rem;
  line-height: 1.5rem;
}